# Data Download

Daniel Querales - d.querales@gmail.com

___

 **Changelog:**
- 2023-XX-XX: File created.

___

## Table of Contents
- [Importing libraries](#Importing-libraries)
- [Load data](#Load-data)
- [Save data](#Save-data)

---

## Importing libraries

In [1]:
import pandas as pd

## Load data

In [2]:
df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv', header=None, names=['date', 'price'])

In [3]:
df.head()

                  date     price
0  2022-10-15 00:00:00  19184.71
1  2022-10-16 00:00:00  19063.10
2  2022-10-17 00:00:00  19265.53
3  2022-10-18 00:00:00  19548.97
4  2022-10-19 00:00:00  19330.74

In [4]:
df.shape

(366, 2)

## Save data

In [5]:
df.to_csv('../datasets/raw/data_raw.csv', index= False)