# Data Download

Daniel Querales - d.querales@gmail.com

___

 **Changelog:**
- 2023-XX-XX: File created.

___

## Table of Contents
- [Importing libraries](#Importing-libraries)
- [Load data](#Load-data)
- [Save data](#Save-data)

---

## Importing libraries

In [1]:
import pandas as pd

## Load data

In [2]:
df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv', header=None, names=['date', 'price'])

In [3]:
df.head()

                  date     price
0  2022-09-03 00:00:00  19952.91
1  2022-09-04 00:00:00  19834.94
2  2022-09-05 00:00:00  19994.65
3  2022-09-06 00:00:00  19789.87
4  2022-09-07 00:00:00  18806.70

In [4]:
df.shape

(366, 2)

## Save data

In [5]:
df.to_csv('../datasets/raw/raw_data.csv', index= False)