# Model Predict
Daniel Querales - d.querales@gmail.com

___

 **Changelog:**
- 2023-01-02: File created.

___

## Table of Contents
- [Importing libraries](#Importing-libraries)
- [Load data](#Load-data)
- [Data Cleaning and Preparation](#Data-Cleaning-and-Preparation)
- [Data Exploration & Visualization](#Data-Exploration-&-Visualization)

---

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.metrics import mean_squared_error as MSE

____

## Load data

In [2]:
df = pd.read_csv('../datasets/raw/data_raw.csv')

In [3]:
def add_date_features(dataframe, date):
    df = dataframe.copy()
    df[date] = pd.to_datetime(df[date])
    df['hour'] = df[date].dt.hour
    df['dayofweek'] = df[date].dt.dayofweek
    df['quarter'] = df[date].dt.quarter
    df['month'] = df[date].dt.month
    df['year'] = df[date].dt.year
    df['dayofyear'] = df[date].dt.dayofyear
    df['dayofmonth'] = df[date].dt.day
    df = df.set_index(date).sort_index()
    df['series'] = np.arange(1,len(df)+1)
    return(df)

In [4]:
df = add_date_features(df, 'date')

In [5]:
df.head()

,price,hour,dayofweek,quarter,month,year,dayofyear,dayofmonth,series
date,,,,,,,,,
2022-10-15,19184.71,0,5,4,10,2022,288,15,1
2022-10-16,19063.10,0,6,4,10,2022,289,16,2
2022-10-17,19265.53,0,0,4,10,2022,290,17,3
2022-10-18,19548.97,0,1,4,10,2022,291,18,4
2022-10-19,19330.74,0,2,4,10,2022,292,19,5

____

## Load Model

In [6]:
model = xgb.XGBRegressor()
model.load_model("../models/model.json")

____

## Predictions

In [7]:
TARGET = 'price'

In [9]:
df['predicted_price'] = model.predict(df.drop([TARGET], axis=1))

In [12]:
df.to_csv('../datasets/processed/data_predicted_price.csv')