# Model Predict
Daniel Querales - d.querales@gmail.com

___

 **Changelog:**
- 2023-01-02: File created.

___

## Table of Contents
- [Importing libraries](#Importing-libraries)
- [Load data](#Load-data)
- [Data Cleaning and Preparation](#Data-Cleaning-and-Preparation)
- [Data Exploration & Visualization](#Data-Exploration-&-Visualization)

---

## Importing libraries

In [11]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.metrics import mean_squared_error as MSE

In [12]:
import sys
sys.path.append("..")

____

## Load data

In [13]:
df = pd.read_csv('../datasets/raw/data_raw.csv')

In [16]:
df.head()

,price,hour,dayofweek,quarter,month,year,dayofyear,dayofmonth
date,,,,,,,,
2022-11-05,21152.93,0,5,4,11,2022,309,5
2022-11-06,21292.67,0,6,4,11,2022,310,6
2022-11-07,20920.33,0,0,4,11,2022,311,7
2022-11-08,20598.44,0,1,4,11,2022,312,8
2022-11-09,18540.11,0,2,4,11,2022,313,9

____

In [14]:
from src.prepare_data import add_date_features

In [15]:
df = add_date_features(df, 'date')

____

## Load Model

In [17]:
model = xgb.XGBRegressor()
model.load_model("../models/model.json")

____

## Predictions

In [18]:
TARGET = 'price'

In [19]:
df['predicted_price'] = model.predict(df.drop([TARGET], axis=1))

In [20]:
df.to_csv('../datasets/processed/data_predicted_price.csv')