<a href="https://colab.research.google.com/github/dquerales/jupyter-automation-github-actions/blob/main/notebooks/predict_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model Predict

## Load dependencies

### Load libraries

In [ ]:
from pycaret.regression import *
import pandas as pd
import numpy as np

____

### Load data

In [1]:
df = pd.read_csv('datasets/raw_data.csv')

NameError: ignored

In [ ]:
df.head()

                  date     price
0  2022-05-07 00:00:00  36013.03
1  2022-05-08 00:00:00  35471.42
2  2022-05-09 00:00:00  34082.21
3  2022-05-10 00:00:00  30175.71
4  2022-05-11 00:00:00  31003.93

____

#### Data Preparation

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['day'] = df["date"].dt.day
df['month'] = df["date"].dt.month
df['year'] = df["date"].dt.year

In [ ]:
df['series'] = np.arange(1,len(df)+1)

In [ ]:
df.head()

        date     price  day  month  year  series
0 2022-05-07  36013.03    7      5  2022       1
1 2022-05-08  35471.42    8      5  2022       2
2 2022-05-09  34082.21    9      5  2022       3
3 2022-05-10  30175.71   10      5  2022       4
4 2022-05-11  31003.93   11      5  2022       5

____

### Load Model

In [ ]:
model = load_model('models/best_model.pkl')

____

## Predictions

In [ ]:
start_date = df['date'].max()

In [ ]:
end_date = df['date'].max() +  pd.DateOffset(days=10)

In [ ]:
future_df = pd.DataFrame() 
future_dates = pd.date_range(start = start_date, end = end_date, freq = '1D')
future_df['date'] = future_dates  
future_df['day'] = future_df["date"].dt.day
future_df['month'] = future_df["date"].dt.month
future_df['year'] = future_df["date"].dt.year  
future_df['series'] = range(len(df), len(df)+len(future_dates))
future_df

         date  day  month  year  series
0  2023-05-07    7      5  2023     366
1  2023-05-08    8      5  2023     367
2  2023-05-09    9      5  2023     368
3  2023-05-10   10      5  2023     369
4  2023-05-11   11      5  2023     370
5  2023-05-12   12      5  2023     371
6  2023-05-13   13      5  2023     372
7  2023-05-14   14      5  2023     373
8  2023-05-15   15      5  2023     374
9  2023-05-16   16      5  2023     375
10 2023-05-17   17      5  2023     376

In [ ]:
predictions_future = predict_model(model, data=future_df)
predictions_future.to_csv('datasets/predictions.csv', index=False)
predictions_future.head()

        date  day  month  year  series  prediction_label
0 2023-05-07    7      5  2023     366      28935.857564
1 2023-05-08    8      5  2023     367      28935.857564
2 2023-05-09    9      5  2023     368      28696.319539
3 2023-05-10   10      5  2023     369      28529.369797
4 2023-05-11   11      5  2023     370      28703.204273

In [ ]:
concat_df = pd.concat([df, predictions_future], axis=0).reset_index(drop=True)

In [ ]:
concat_df.to_csv('datasets/predictions_price.csv', index=False)

In [ ]:
px.line(concat_df, x=concat_df.index, y=["price", "prediction_label"], template = 'plotly_dark')
fig.show()